<% include ../partials/header %>
<div class="add-header-margin-100"></div>
<div class="show-bg"></div>
<div class="show-overlay"></div>
<div class="container show">
	<div class="text-left">
		<div class="text-left">
			<h1><%= blog.title %></h1>
		</div>
		<div class="img-thumbnail">
			<img src="<%= blog.image %>">
			<div class="caption">
				<p><%= blog.description %></p>
				<p><strong>Submitted by <%= blog.author.username %></strong> - <%= moment(blog.created).fromNow() %></p>
				<% if(currentUser && currentUser.username === 'Jen'){ %>
				<a class="btn btn-warning" href="/blogs/<%= blog._id %>/edit">Edit</a>	
				<% } %>
			</div>			
		</div>		
	</div>
		<div class="card card-body bg-light">
			<% if(currentUser){ %>
			<div class="row">
				<div class="col-sm-9">
					<h1 class="float-left">Comments</h1>
				</div>
				<div class="col-sm-3">
					<div class="float-right">
						<button id="addComment" class="btn btn-success">Add New Comment</button>
					</div>	
				</div>
			</div>
			<hr>	
			<%} else { %>
			<div class="row">
				<div class="col-sm-6">
					<h1>Comments</h1>
				</div>
				<div class="col-sm-6">
					<p class="float-right"><a href="/login">Login</a> to leave a comment...</p>
				</div>
			</div>	
			<hr>
			<% } %>
			<form id="comment-form" class="hidden" action="/blogs/<%= blog._id %>/comments" method="POST">
					<div class="form-group">
						<label for="comment">
							<% if(currentUser){%> 
							Leave a Comment, <%= currentUser.username%>.
							<% } else { %>
							Please login to leave a comment. 
							<% } %>
						</label>
						<textarea id="comment" class="form-control" name="text"></textarea>
						<br>
						<div class="text-center">
							<button class="btn btn-primary">Submit Comment</button>
						</div>	
					</div>
			</form>
	
			<% blog.comments.forEach(function(comment){ %>
				<p class="comment-margin"><strong><%= comment.author.username %></strong></p>
				<p class="comment-margin"><%= comment.text %> <span class="float-right"><%= moment(comment.created).fromNow() %></span></p>
				<% if(currentUser && currentUser._id.equals(comment.author.id)){ %>
				<div class="row">
					<div class="col-sm-1 height">
						<button id="showEditForm" class="btn btn-outline-warning btn-sm float-left">Edit</button> 
					</div>
					<div class="col-sm-11 height">
						<form action="/blogs/<%= blog._id %>/comments/<%= comment.id %>?_method=DELETE" method="POST">
							<button class="btn btn-outline-danger btn-sm float-left">Delete</button>
						</form>	
					</div>
				</div>
					<form class="hidden" id="editForm" action="/blogs/<%= blog._id %>/comments/<%= comment.id %>?_method=PUT" method="POST">
						<div class="form-group">
							<label for="editTextArea">Edit Your Comment:</label>
							<textarea class="form-control" id="editTextArea" name="comment[text]"><%= comment.text %></textarea>
							<br>
							<div class="text-center">
								<button class="btn btn-primary">Update Comment</button>
							</div>
						
						</div>
					</form>
			
				<% } %>
				<br>
			<% }) %>
		</div>	
</div>


<% include ../partials/footer %>